
.main_cont
{
    margin-left: 550px;
    margin-top: 40px;
    display: block;
    align-content: center;
}

.container 
{
    margin-top: 50px;
    margin-left: 10px;
    width: 50%;
    height: 70vh;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.container .post 
{
    width: 550px;
    height: 650px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid white;
}

.container .post .header_post
{
    width: 100%;
    height: 40%;
    background: #ddd;
    position: absolute;
    top: 0;
    -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms; 
}

.container .post .header_post .imag
{
    max-width: 100%;
    height: auto;
}

.container .post .body_post
{
    width: 100%;
    height: 60%;
    background: #fff;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

.container .post .body_post .post_content
{
    width: 80%;
    height: 80%;
    background: #fff;
    position: relative;
}

.container .post .body_post .post_content h1
{
    font-size: 20px;
    font-weight: bold;
}

.container .post .body_post .post_content p
{
    font-size: 14px;
    font-weight: normal;
}

.container .post .body_post .post_content .container_infos
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, .2);
    padding-top: 25px;
}

.container .post .body_post .post_content .container_infos .postedBy
{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

.container .post .body_post .post_content .container_infos .postedBy span
{
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 1px;
    font-weight: bold;
}

.container .post .body_post .post_content .container_infos .container_tags
{
    display: flex;
    flex-direction: column;
}

.container .post .body_post .post_content .container_infos .container_tags span
{
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 1px;
    font-weight: bold;
}

.container .post .body_post .post_content .container_infos .container_tags .tags ul
{
    display: flex;
}

.container .post .body_post .post_content .container_infos .container_tags .tags ul li
{
    font-size: 12px;
    letter-spacing: 2px;
    list-style: none;
    margin-left: 8px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.container .post .body_post .post_content .container_infos .container_tags .tags ul li:first-child
{
    margin-left: 0px;
}

.container .post .body_post .post_content .container_infos .container_tags .tags ul li:before
{
    content: '';
    text-align: center;
    width: 100%;
    height: 5px;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    z-index: -1;
    padding: 0px 1px;
    -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

.container .post .body_post .forma1
{
    bottom:0;
    position: absolute;
    margin-top: 50px;
    right: 90px;
}

.container .post .body_post .forma2
{
    bottom:0;
    position: absolute;
    margin-top: 50px;
    left: 90px;
}

.container .post .body_post .forma1 .subbce
{
    padding: 2px;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    top: 20px;
    color: black;
    background-color: red;
}

.container .post .body_post .forma2 .subbce
{
    padding: 2px;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    top: 20px;
    color: black;
    background-color: aquamarine
}

.container .post .body_post .forma1 .subbce:hover
{
    cursor: pointer;
}

.container .post .body_post .forma2 .subbce:hover
{
    cursor: pointer;
}

.subtitle
{
    margin-top: 20px;
    text-align: center;
    color: white;
}



